@font-face {
    font-family: 'Apparel';
    src: url('../fonts/customfont/Fontspring-DEMO-apparel-black.otf') format('otf'),
         url('../fonts/customfont/Fontspring-DEMO-apparel-black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
  }

  * {
    --title-font: "Apparel", Helvetica, Arial, sans-serif; /* Changed from "Bebas Neue" */
    --body-font: "Manrope", Helvetica, Arial, sans-serif;
    --border-default: solid 1px rgba(30, 30, 30, 1);
    --bg-color-even: #E8E8E8;
    --bg-color-odd: #F4F4F4;
    --bg-color-dark: #101010;
    --body-font-color: #757575;
    --dark-body-font-color: #cccccc;
  }